body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FCF7F3;
}

h1{
    letter-spacing: 12px;
    font-weight: lighter;
}

button{
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid;
    background-color: #FCF7F3;
    transition: ease 0.5s;
}

button:hover{
    transform: scale(1.2);
    background-color: #e8d6c7;
    cursor:pointer;
}